<%= stylesheet_link_tag "destinations", property: :stylesheet %>
<%= javascript_include_tag "destinations" %>

<div class="container">
  <header class="jumbotron">
    <h1>Shangri-Angu-La</h1>
  </header>
  <main>

  </main>
</div>
